node_modules

res/gfx/throbber

theme/win-spinner/main.script
theme/win-spinner/res/gfx/bgrt.png
theme/win-spinner/res/gfx/logo.png
theme/win-spinner/res/gfx/watermark.png
theme/win-spinner/res/gfx/ctn/*.png
theme/win-spinner/res/gfx/icon/*.png
theme/win-spinner/res/gfx/throbber/*.png
